html, body {
    height: 100%;
    margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

main {
  flex: 1;
}
/* Header */
header {
  background-color: #E01E4F;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  flex-shrink: 0;
}

.principal-search {
  background-color: #E01E4F;
  color: white;;
}
.filter-button {
  background-color: #E01E4F;
  color: white;
}
.filter-button:hover {
  background-color: #c01a45; /* Un tono más oscuro al hacer hover */
  color: white;
}
.subscribe-button {
  height: 95%;
  width: 80%;
  
  background-color: #E01E4F;
  color: white;
}

.subscribe-button:hover {
  background-color: #c01a45; 
  color: white;
}

.text-soib{
  color: #E01E4F;
}


.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}


/* Footer */
footer {
  background-color: #E01E4F;
  color: white;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
  font-size: small;
}

/* Offer */
.modal-content.custom-border {
    border: 4px solid #E01E4F;
}

.modal-header.custom-header {
  background-color: #E01E4F;
  color: white;
}

.modal-header.custom-header .modal-title {
  color: white;
}

